body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.brand-logo{
  height: 60px;
  margin: 0px 30px;
}

.brand-logo img {
  height: -webkit-fill-available;
}

/* .active {
  border-bottom: 2px solid black;
} */

/* BookSearch */
.search-container{
  /* max-height: 100vh; */
  margin-top: 20%;
}

@media screen and (max-width: 670px) {
  .search-container {
    margin-top: 40%;
  }
}


.input-field {
  height: 50px;
}

#search {
  font-size: 40px;
  padding: 0px 10px;
}

@media screen and (max-width: 670px) {
  #search {
    font-size: 30px;
  }
}


